#block-finder-form label {
	padding-bottom: 16px;
}

#block-finder-selector,
#post-type-selector {
	display: block;
	margin-bottom: 10px;
	padding: 2px 8px;
	width: 100%;
	max-width: 400px;
}

#block-results-loading {
	padding: 14px 12px;
}

#block-finder-results {
	background-color: #f2f2f2;
	margin-top: 15px;
}

#block-finder-results h3 {
	font-weight: 700;
	border-bottom: 1px solid #b9b9b9;
	padding: 14px 12px;
	margin: 0;
}

#block-finder-results ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#block-finder-results li {
	display: flex;
	gap: 8px;
	padding: 14px 12px;
	margin-bottom: 0;
	border-bottom: 1px dotted #b9b9b9;
}

#block-finder-results li:last-child {
	border-bottom: none;
}

#block-finder-results span {
	margin-left: auto;
	display: flex;
	gap: 8px;
	align-items: center;
}

#block-finder-results a {
	font-weight: 500;
	color: #0073aa;
	text-decoration: none;
}

#block-finder-results a:last-child {
	border-left: 1px solid #b9b9b9;
	padding-left: 8px;
}

#block-finder-results a:hover {
	text-decoration: underline;
}